/* Importando Fontes */
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap'); /* Rancho */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /* Poppins */

* {
    font-family: "Poppins", serif;
    margin: 0;
}

/* -- TIAGO -- */

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  gap: 4rem;
  align-items: center;
  margin: 0;
}

.logo figcaption {
    color: #7a5e3a;
    font-size: 6rem;
    margin: 0;
    font-family: "Rancho", cursive;
    font-weight: 400;
    margin: 15px;
}
  
.logo img {
  height: 120px;
  max-width: 100%;
}

#nav-header {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 30px 0;
}

#nav-header a {
  text-decoration: none;
  color: #555;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 5px 30px;
  transition: all 0.5s ease;
}

.separador {
    height: 30px;
    width: 1px;
    background: gray;
    margin: 0 20px;
}

#nav-header a:hover {
    transform: translateY(-5px);
}

/* -- */

/* -- GABRIEL -- https://api.whatsapp.com/send?phone=5511973042929 */

#whatsapp {
    height: 90px;
    width: 90px;
    background: hsl(130, 100%, 40%);
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: all 0.5s;
}

#whatsapp:hover {
    transform: translateY(-3px);
    background: hsl(130, 100%, 30%);
}

#whatsapp a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#whatsapp a i {
    font-size: 50px;
    transform: translateY(-10px);
    color: #fff;
}

/* -- */

/* -- GEOVANI -- */


#sobre, #alto, #baixo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#alto, #baixo {
    flex-direction: row;
    padding: 0 15%;
}

#sobre {
    margin: 5rem;
    display: flex;
    flex-direction: column;
}

#baixo {
    flex-direction: row-reverse;
}

figure .bola {
    width: 20rem;
    border-radius: 50%;
    background-color: hsl(0, 0%, 70%);
    background-position: center;
}

#sobre #alto figure .bola {
    box-shadow: 16px 10px 0px #9f876d;
}

#sobre #baixo figure .bola {
    box-shadow: -16px 10px 0px #463420;
}

.conteudo {
    color: #333;
}

.conteudo h1 {
    font-size: 30px;
}

/* -- */

/* -- MARIO -- */

#rodape-principal {
    background-color: #463421;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#rodape-principal figure {
    margin: 0;
}

#rodape-principal figure img {
    height: 100px;
}

#rodape-principal #info{
    padding: 50px 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.copyright {
    text-align: center;
    font-weight: 600;
    color: #fff;
    background: #745C42;
    padding: 10px 0;
}

#social-links {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#social-links a {
    color: #fff;
    text-decoration: none;
    margin: 5px;
    transition: all 0.5s;
}

#social-links a:hover {
    transform: translateX(5px);
}

@media (max-width: 675px) {
    .separador {
        display: none;
    }

    header {
        justify-content: center;
    }
}