/* Importando Fontes */
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap'); /* Rancho */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /* Poppins */

* {
    font-family: "Poppins", serif;
    scroll-behavior: smooth;
    margin: 0;
}

body {
    background: hsl(40, 40%, 80%);
}

#sobre {
    color: #333;
}

/* -- TIAGO -- */

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    margin: 20px;
}

.logo img {
  width: 100%;
  max-width: 420px;
}

#nav-header {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 30px 0;
}

#nav-header a {
  text-decoration: none;
  color: #555;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 5px 30px;
  transition: all 0.5s ease;
}

.separador {
    height: 30px;
    width: 1px;
    background: gray;
    margin: 0 20px;
}

#nav-header a:hover {
    transform: translateY(-5px);
}

/* -- */

/* -- GEOVANI -- */

#alto, #baixo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

#sobre {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

#baixo {
    flex-direction: row-reverse;
}

figure .bola {
    max-width: 20rem;
    width: 100%;
    border-radius: 50%;
    background-color: hsl(0, 0%, 70%);
    background-position: center;
}

#sobre #alto figure .bola {
    box-shadow: 16px 10px 0px #9f876d;
}

#sobre #baixo figure .bola {
    box-shadow: -16px 10px 0px #463420;
}

#sobre article {
    width: 100%;
    max-width: 50%;
}

#sobre article h2 {
    margin-bottom: 20px;
}

/* -- */

/* -- GABRIEL -- */
#whatsapp {
    height: 90px;
    width: 90px;
    background: hsl(130, 100%, 40%);
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: all 0.5s;
}

#whatsapp:hover {
    transform: translateY(-3px);
    background: hsl(130, 100%, 30%);
}

#whatsapp a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#whatsapp a svg {
    height: 50px;
    color: #fff;
}

#intro-page {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    background: #fff;
    flex-wrap: wrap-reverse;
}

#intro-page figure {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro-page figure img {
    object-fit: cover;
    max-height: 20rem;
    height: 100%;
    max-width: 20rem;
    width: 100%;
    border-radius: 50%;
}

#intro-page h1 {
    font-size: 60px;
    width: 100%;
    max-width: 600px;
}

#intro-page h4 {
    max-width: 450px;
    font-weight: normal;
}

#intro-page h4 span {
    color: #835a2b;
}

#intro-page #descricao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#intro-page #descricao:not(h1){
    color: #333;
}

#intro-page #descricao article {
    max-width: 400px;
    padding: 25px;
}

#intro-page #descricao button {
    padding: 10px 30px;
    background: #745C42;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: 0.5s all;
}

#intro-page #descricao button:hover {
    background: #463420;
}

#negocio #descricao, #negocio #cards {
    padding: 40px;
}

#negocio #descricao {
    background: #463420;
    color: #fff;
}

#negocio #descricao h1 {
    font-size: 40px;
}

#negocio #descricao article {
    margin: 20px 0;
    max-width: 700px;
    width: 100%;
}

#negocio #descricao article p {
    margin: 15px 0;
}

#negocio #descricao button {
    padding: 10px 30px;
    background: #ad8861;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: 0.5s all;
}

#negocio #cards {
    background: #745C42;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "a c"
                         "b d"
                         "e e";
    justify-items: center;
    gap: 50px;
}

#negocio #cards .card-negocio {
    padding: 15px;
    background: #fff;
    color: #000;
    font-weight: bold;
    max-width: 800px;
    width: 100%;
    height: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
}

#negocio #cards .card-negocio figure {
    min-height: 30px;
    min-width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-right: 15px;
    padding: 15px;
    background: #ccc;
}

#negocio #cards .card-negocio #legenda {
    font-size: 18px;
}

.left-card {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.right-card {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.center-card {
    border-radius: 100px;
}

#negocio #cards #a {
    grid-area: a;
}

#negocio #cards #b {
    grid-area: b;
}

#negocio #cards #c {
    grid-area: c;
}

#negocio #cards #d {
    grid-area: d;
}

#negocio #cards #e {
    grid-area: e;
}

#slider {
    display: flex;
    min-height: 500px;
    align-items: stretch;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

#slider .congelado {
    background: hsl(200, 100%, 50%);
    padding: 5px 12px;
    border-radius: 5px;
    color: #fff;
    margin: 20px 0;
}

.arrows {
    color: #fff;
    height: 30px;
    cursor: pointer;
}

#slider::-webkit-scrollbar {
    background: #463421;
}

#slider::-webkit-scrollbar-thumb {
    background: #fff;
    border: 3px solid #463421;
    border-radius: 15px;
    cursor: pointer;
}

#slider .card {
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
}

#slider .card #produto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

#slider .card #cookie, #slider .card #descricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

#slider .card #descricao {
    width: 100%;
    max-width: 400px;
    flex-grow: 1;
}

#slider .card #cookie figure {
    height: 200px;
    width: 200px;
    margin: 15px;
}

#slider .card #cookie figure img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

#slider .card #cookie h1 {
    font-size: 30px;
}

#intro {
    background: hsl(30, 40%, 80%);
    color: #000 !important;
}

#intro h1, #card-whatsapp h1 {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#intro article, #card-whatsapp article {
    margin: 15px;
}

#intro button, #card-whatsapp button {
    padding: 12px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}

#intro button:hover, #card-whatsapp button:hover {
    background: #ccc;
}

#chocolatudo {
    background: hsl(30, 100%, 10%);
}

#chocolatudo strong {
    color: hsl(30, 40%, 60%);;
}

#churros {
    background: hsl(40, 100%, 30%);
}

#churros strong {
    color: hsl(40, 100%, 70%);
}

#cream-cheese {
    background: hsl(60, 50%, 70%);
}

#cream-cheese strong {
    color: hsl(50, 50%, 30%);
}

#pistache {
    background: hsl(90, 40%, 70%);
}

#pistache strong {
    color: hsl(90, 40%, 30%);
}

#red-velvet {
    background: hsl(360, 70%, 70%);
}

#red-velvet strong {
    color: hsl(360, 70%, 30%);
}

#card-whatsapp {
    background: hsl(150, 100%, 40%);
}

#chocolatudo, #churros, #card-whatsapp {
    color: #fff;
}

/* -- */

/* -- MARIO -- */

footer {
    background-color: #463421;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer #info figure {
    flex-grow: 1;
    margin: 0;
}

footer #info figure img {
    height: 100px;
}

footer #info {
    padding: 50px 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

footer #copyright {
    text-align: center;
    font-weight: 600;
    color: #fff;
    background: #745C42;
    padding: 20px;
}

footer #links {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

footer #links .social-links {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 15px;
}

footer #links .social-links a {
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
    transition: all 0.5s;
}

footer #links .social-links a:hover {
    transform: translateX(5px);
}

@media (max-width: 910px) {
    .separador {
        display: none;
    }
    
    #sobre article {
        justify-content: center;
        max-width: 90%;
    }

    #slider .card #produto {
        flex-direction: column;
    }

    header {
        justify-content: center;
    }
}

@media (max-width: 600px) {
    #negocio #cards {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "a"
                             "b"
                             "c"
                             "d"
                             "e";
    }

    #negocio #cards .card-negocio {
        border-radius: 50px !important;
    }
}

@media (max-width: 500px) {
    footer #links .social-links {
        align-items: center;
    }
}